.solstice-cal-month{
  display: table;
  margin: 2px auto;
  border-collapse: collapse;
}
.solstice-columns{
  display: table-row;
  border-bottom: 1px solid black;
}

.solstice-week-day{
  display: table-cell;
}

.solstice-day{
  display: table-cell;
  border-spacing: 3px;
  width: 20px;
}

.solstice-day.solstice-selected, .solstice-day:hover{
  background-color: blue;
  color: white;
}

.solstice-week{
  display: table-row;
}

.solstice-cal{
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
}

.solstice-ctrls{
  font-weight: bold;
  margin-bottom: 10px;
}

.solstice-ctrls span{
  margin-right: 5px;
}

.solstice-hour, .solstice-minute, .solstice-seconds{
  width: 30px;
  text-align: middle;
  margin: auto 5px;
  padding: 5px;
}

.solstice-timewrap{
  padding: 10px;
  border-top: 1px solid gray;
}

.solstice-time-dropdown-wrapper{
  margin-top: 10px;
}

.example-container{
    width: 220px;
    text-align: center;
    background: #fff;
    border: 1px solid #000;
    padding: 10px;
    display: inline-block;
}

button{
  margin: 10px;
  padding: 10px 25px;
  background-color: #000;
  color: #fff;
}

button:active{
  background-color: #fff;
  color: #000;
}
body{
  text-align: center;
  background: #ddd;
}
